# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Docker volumes data
postgres_data/
neo4j_data/
neo4j_logs/
neo4j_import/
neo4j_plugins/
redis_data/

# Database
*.db
*.sqlite

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# locals
temp
temp.md
ddd*
prompt.md
*.swo
apps/knowledge-graph/test_outputs
*.txt
/**/test.ts
!apps/knowledge-graph/src/test.ts
*.sh